# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
/build/*
!/build/Debug/
/build/Debug/*
!/build/Debug/engine
!/build/Debug/content
!/build/Debug/new_material_system
/.gradle/*
/thirdparty/*