[submodule "thirdparty/simdjson"]
	path = thirdparty/simdjson
	url = https://github.com/simdjson/simdjson
[submodule "thirdparty/pybind11"]
	path = thirdparty/pybind11
	url = https://github.com/pybind/pybind11
[submodule "thirdparty/tinygltf"]
	path = thirdparty/tinygltf
	url = https://github.com/syoyo/tinygltf
