[submodule "thirdparty/simdjson"]
	path = thirdparty/simdjson
	url = https://github.com/simdjson/simdjson
[submodule "thirdparty/tinygltf"]
	path = thirdparty/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "thirdparty/libpng"]
	path = thirdparty/libpng
	url = https://github.com/pnggroup/libpng.git
[submodule "thirdparty/libwebview"]
	path = thirdparty/libwebview
	url = https://github.com/a3st/libwebview
[submodule "thirdparty/base64pp"]
	path = thirdparty/base64pp
	url = https://github.com/matheusgomes28/base64pp
[submodule "thirdparty/d3d12ma"]
	path = thirdparty/d3d12ma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator
